extends layout

block layout-content
  div.View
    h1.Banner NICHOLLETTE TAYLOR ACOSTA
    div.Message
      div.Title
        h1 ACTRESS | COMPUTER SCIENTIST
      span.Details "homo sum, humani nihil a me alienum puto"
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!
